ion-grid{
    padding: 10%;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}
ion-button{
    background-color: blueviolet;
    color: white;
    border-radius: 1.2em;
}
